<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/cours/save}" th:object="${cours}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="mb-3">
        <label>Code</label>
        <input type="text" th:field="*{code}" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Intitulé</label>
        <input type="text" th:field="*{intitule}" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Filière</label>
        <select th:field="*{filiere}" class="form-select">
            <option th:each="f : ${filieres}" th:value="${f}" th:text="${f.nom}"></option>
        </select>
    </div>
    <button class="btn btn-success">Enregistrer</button>
</form>

</body>
</html>