<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/cours/new" class="btn btn-primary">Ajouter Cours</a>
<table class="table mt-3">
    <tr><th>Code</th><th>Intitulé</th><th>Filière</th><th>Actions</th></tr>
    <tr th:each="c : ${cours}">
        <td th:text="${c.code}"></td>
        <td th:text="${c.intitule}"></td>
        <td th:text="${c.filiere?.nom}"></td>
        <td>
            <a th:href="@{/cours/edit/{id}(id=${c.id})}" class="btn btn-warning">Modifier</a>
            <a th:href="@{/cours/delete/{id}(id=${c.id})}" class="btn btn-danger">Supprimer</a>
        </td>
    </tr>
</table>

</body>
</html>