<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/filieres/save}" th:object="${filiere}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="mb-3">
        <label>Code</label>
        <input type="text" th:field="*{code}" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Nom</label>
        <input type="text" th:field="*{nom}" class="form-control" />
    </div>
    <button class="btn btn-success">Enregistrer</button>
</form>

</body>
</html>