<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/eleves/save}" th:object="${eleve}" method="post">


    <input type="hidden" th:field="*{id}" />


    <div class="mb-3">
        <label>Nom</label>
        <input type="text" th:field="*{nom}" class="form-control" />
    </div>


    <div class="mb-3">
        <label>Prénom</label>
        <input type="text" th:field="*{prenom}" class="form-control" />
    </div>


    <div class="mb-3">
        <label>Filière</label>
        <select th:field="*{filiere}" class="form-select">
            <option th:each="f : ${filieres}" th:value="${f}" th:text="${f.nom}"></option>
        </select>
    </div>


    <div class="mb-3">
        <label>Cours</label>
        <select th:field="*{cours}" multiple class="form-select">
            <option th:each="c : ${cours}" th:value="${c}" th:text="${c.intitule}"></option>
        </select>
    </div>


    <button class="btn btn-success">Enregistrer</button>
</form>

</body>
</html>