<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/eleves/new" class="btn btn-primary">Ajouter Élève</a>
<table class="table mt-3">
    <tr>
        <th>Nom</th><th>Prénom</th><th>Actions</th>
    </tr>
    <tr th:each="e : ${eleves}">
        <td th:text="${e.nom}"></td>
        <td th:text="${e.prenom}"></td>
        <td>
            <a th:href="@{/eleves/edit/{id}(id=${e.id})}" class="btn btn-warning">Modifier</a>
            <a th:href="@{/eleves/delete/{id}(id=${e.id})}" class="btn btn-danger">Supprimer</a>
        </td>
    </tr>
</table>
</body>
</html>